@charset "utf-8";

#main_content{width: 1172px;height: 605px;margin: 0 auto;margin-top: 10px;position: relative;}
#newdetail{width: 1172px;height: 100px;margin: 0 auto;border: 1px solid #f2f2f2;margin-bottom: 30px;}
#tabs_detail{width: 1172px;height: 52px;margin: 0 auto;}
#product_pic{width: 1172px;height: auto;margin: 0 auto;}

/*商品内容*/
/*左区*/
#left_block{width: 45%;height: 603px;float: left;margin-left: 1%;margin-right: 1%;}
#right_block{width: 48%;height: 605px;float: left;margin-left: 1%;margin-right: 1%;}
#left_block #big_block{border: 1px solid #eee;}
#big_block{position: relative;}
#big_block .mail{position: absolute;top: 5px;left: 5px;z-index: 1;}
#big_block #small_img{margin: 5px;width: 500px;height: 500px;}
#big_block #small_img img{width: 500px;height: 500px;}
#small_block{text-align: center;margin-top: 12px;}
#small_block img{padding: 4px;border: 1px solid #eee;margin: 0 2px 4px;width: 65px;height: 65px;}
#left_block #goods_pic #small_img{position: relative;}
#left_block #goods_pic #small_area{display: none;width: 100px;height: 100px;background: rgba(200,255,200,0.7);position: absolute;left: 5px;top: 5px;z-index: 1;}
#left_block #goods_pic #big_area{display: none;position: absolute;left: 550px;top: 5px;width: 250px;height: 250px;overflow: hidden;}
#left_block #goods_pic #big_img,#left_block #goods_pic #big_img img{width: 1000px;height: 1000px;position: absolute;}




/*右区*/
#right_block #goods_chase{line-height: 1.25em;}
#right_block h1{font-size: 20px;font-weight: normal;height: 43px;line-height: 43px;line-height: 3em;}
#area #send{font-size: 12px;color: #aaa;margin-top: 10px;height: 19px;line-height: 19px;}
#area #send img{float: left;margin-right: 10px;}
#area #send p{float: left;}
#right_block #short_description{line-height: 1.25em;font-size: 13px;color: #333333;margin: 15px 0;}
#goods_data #price_box{height: 75px;background: #ededed;}
#goods_data #return{height: 45px;background: #f7f7f7;margin-bottom: 10px;}

#goods_data span{font-size: 14px;color: #aaa;}
#goods_data #price_box .prev_price{font-size: 17px;font-family: Verdana, Geneva, sans-serif;text-decoration: line-through;}
#goods_data #price_box .now_price{font-size: 1.6666em;font-family: Verdana, Geneva, sans-serif;color: #ff5073;;}
#goods_data #price_box .discount{font-size: 12px;background-color: #f5f5f5;border: 1px solid #ff5073;border-radius: 10px;color: #ff5073;display: inline-block;margin-left: 17px;vertical-align: super;}
#goods_data #price_box #price_wrap{padding: 10px;}
#goods_data #price_box #price_wrap .prev_price{margin-left: 30px;}
#goods_data #price_box #price_wrap .now_price{margin-left: 15px;height: 16px;}


#goods_data #return img{float: left;margin: 10px 0 0 70px;} 
#goods_data #return #return_text{float: left;font-size: 14px;font-family: PingFangSC-Regular; margin-top: 15px;margin-left: 15px;}
#goods_data #return #return_text a{font-family: PingFangSC-Regular;color: rgb(54, 155, 249);text-decoration: none;cursor: pointer;}

#goods_data #postfee .fee_word{margin-right: 30px;}
#goods_data #postfee .fullsend{font-size: 13px;color: #333333;}
#goods_data #rate .fullsend{cursor: pointer;}
#goods_data #rate{margin: 15px 0 15px;line-height: 1.0833em;height: 14px;}
#goods_data #rate .rate_text,#score{float: left;}
#goods_data #rate .rate_text{margin-right: 32px;}

#postfee,#rate,#addto_car{padding-left: 10px;}
#goods_data #addto_car{height: 28px;margin-bottom: 28px;}
#addto_car .have_stock{color: #ff5073;}
#addto_car #stock{margin-top: 5px;width: 80px;height: 19px;float: left;}
#addto_car #num_text{margin-right: 32px;margin-top: 6px;}
#addto_car #num_text,#addto_car #num_box{float: left;}
#addto_car #num_box{margin-right: 20px;}
#addto_car #num_box .change{float: left;width: 24px;height: 26px;border: 1px solid #dddddd;text-align: center;cursor: pointer;}
#addto_car #num_box .change a{text-decoration: none;line-height: 26px;color: #333;font-size: 12px;}
#addto_car #num_box .change a:hover{color: #ff5073;}
#addto_car #num_box input{float: left;text-align: center;padding: 8px;width: 30px;height: 10px;font-size: 12px;border: 1px solid #ddd;color: #888;font: 12px/15px Arial, Helvetica, sans-serif;}
#addto_car #num_box #reduce{border-right: none;background: #f2f2f2;}
#addto_car #num_box #add{border-left: none;background: #f2f2f2;}
#goods_data #func_block #store{float: left;width: 56px;height: 45px;line-height: 40px;border: 2px solid #ff5073;padding: 0 25px;margin-right: 10px;cursor: pointer;}
#goods_data #func_block span{color: #ff5073;}
#goods_data #func_block #to_car{float: left;height: 45px;line-height: 40px;border: 2px solid #ff5073;padding: 0 25px;cursor: pointer;}
#goods_data #func_block #store:hover{background: #ff5073;color: white;}
#goods_data #func_block #store:hover span{color: white;}
#goods_data #func_block #to_car:hover{background: #ff5073;color: white;}
#goods_data #func_block #to_car:hover span{color: white;}


/*购物车飞的按钮*/
#goods_data #func_block #to_car button{width: 100%;height: 100%;outline: none;border: none;background: white;color: #ff5073;}
#goods_data #func_block #to_car button:hover{background: #ff5073;color: white;}
/*购物车飞的样式*/
.u-flyer{display:block; width:50px; height:50px; border-radius:50px; position:fixed; z-index: 9999;}


/*业务区*/
.bus_block{float: left;width: 1172px;}
.bus_block .bus_img{float: left;}    
.bus_block .bus_img img{margin-right: 25px;}
.bus_block .main_buss{float: left;height: 63px;text-align: center;padding: 19px;width: 250px;}
.bus_block .bus_text{float: left;font-size: 20px;color: #6759c8;border-right: 1px solid #f2f2f2;line-height: 63px;height: 63px;padding-right: 56.5px;}
.bus_block .last_text{border-right: none;}

/*切换区*/
#tabs_detail ul{color: #333333;font-size: 17px;}
#tabs_detail ul li{float: left;padding: 0 10px;line-height: 51px;height: 51px;border: 1px solid transparent;border-bottom: none;background-color: #eeeeee;}


/*介绍区*/
#product_pic{text-align: center;padding-bottom: 10px;padding-top: 10px;border-top: 1px solid #e5e5e5;}

/*隐藏商品id*/
#right_block #goods_chase .the_id{display: none;}











