@charset "utf-8";


/*首页*/
#carousel{width: 1263px;height: 480px;margin: 0 auto;padding-bottom: 15px;overflow: hidden;position: relative;}
#banner{width: 1263px;margin: 0 auto;}
#goods_block{width: 1263px;height: 2000px;background: pink;margin: 0 auto;}

/*侧商品导航*/
#side_nav{position: relative;}
#side_nav>ul{width: 160px;height: 480px;background: rgba(3, 3, 3, .5);margin-left: 57.5px;position: absolute;z-index: 1;}
#side_nav>ul>li{width: auto;font-size: 14px;padding-left: 36px;}
#side_nav>ul>li:first-child{padding-top: 10px;}
#side_nav ul a{text-decoration: none;color: white;}
#side_nav ul>li p{line-height: 40px;}
#side_nav ul>li:hover{background: white;}
#side_nav ul>li:hover a{color: #ff5073;}


/*侧商品子导航*/
/*position: absolute;left: 261.4px;top: 166px;*/
.side_list{display: none;width: 172px;height: 480px;background: white;position: absolute;left: 160px;top: 0px;border-right: 5px solid rgba(0,0,0,0.1);}
.side_list ul{padding-top: 10px;}
.side_list li{font-size: 14px;padding-left: 36px;line-height: 40px;}
#side_nav .side_list ul li a{color: #666;}
#side_nav .side_list ul li:hover a{color: #ff5073;}



/*板块*/
#banner h2{font-weight: normal;font-size: 22px;text-align: center;margin-bottom: 10px;}
#banner strong{font-weight: bold;}
#banner {text-align: center;}
#banner .banner_list p{margin-bottom: 13px;}



/*轮播*/
#lunbo ul{padding: 0;margin: 0;}
#lunbo_list{width: 23040px;height: 480px;position: absolute;left: -328.5px;}
#lunbo img{width: 1920px;height: 480px;}
#lunbo_list li{width: 1920px;height: 480px;list-style: none;float: left;}

#lunbo_tag{position: absolute;left: 35%;bottom: 10px;}
#lunbo_tag div{width: 16px;height: 16px;background: #ffffff;border-radius: 20px;margin: 8px;float: left;}
#lunbo_tag div.active{background: #ff5073;}


/*商品区*/
#goodslist{width: 1172px;margin: 0 auto;font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;}
#goodslist .rows{width: 1172px;}
#goodslist .rows .goods{width: 350px;height: 470px;background: greenyellow;position: relative;float: left;margin-bottom: 61px;margin-right: 61px;}
#goodslist .rows .goods:hover{box-shadow:2px 2px 10px #06c;}
#goodslist .rows .side_goods{margin: 0;}
#goodslist .rows .goods img{width: 270px;height: 270px;padding: 40px 40px 0 40px;}
#goodslist .rows .goods .picture:hover{cursor: pointer;}
#goodslist .rows .goods .goods_name{padding: 0 40px;}
#goodslist .rows .goods .goods_name:hover{cursor: pointer;}
#goodslist .rows .goods .goods_car button:hover{cursor: pointer;}
#goodslist .rows .goods .goods_name h4{line-height: 1.25em;font-weight: normal;padding: 5px 0 2px;}
#goodslist .rows .goods .goods_name h3{font-size: 19px;font-weight: normal;}
#goodslist .rows .goods .goods_car{position: absolute;bottom: 0;}
#goodslist .rows .goods .goods_car .price_box{height: 61px;background: #fff5f9;float: left;width: 226px;}
#goodslist .rows .goods .goods_car .price_box .price{float: left;padding: 18px 8px 0 20px;}
#goodslist .rows .goods .goods_car .price_box span{font-size: 24px;color: #ff7e00;font-family: Arial, Helvetica, sans-serif;}
#goodslist .rows .goods .goods_car .price_box .sign{font-size: 18px;}
#goodslist .rows .goods .goods_car .market_price{width: 90px;float: left;margin-top: 6px;}
#goodslist .rows .goods .goods_car .market_price .meme_price{font-size: 14px;color: rgb(49,206,181);display: block;}
#goodslist .rows .goods .goods_car .market_price .save_price{font-size: 12px;color: #fd81c1;}
#goodslist .rows .goods .goods_car .market_price .old_price{font-size: 16px;color: #beb7ba;display: block;text-decoration: line-through;}
/*#goodslist .rows .goods .goods_car .addToCar{width: 124px;background: #fd49ac;height: 100%;border: none;height: 61px;font-size: 20px;color: white;}*/
#goodslist .rows .goods .goods_car .addToCart{width: 124px;background: #fd49ac;height: 100%;border: none;height: 61px;font-size: 20px;color: white;}

/*隐藏商品id*/
#goodslist .rows .goods .picture .goods_id{display: none;}








































