{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>商品详情页</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/goods_detail.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.raty.css' %}">

    <script src="{% static 'js/jquery-1.12.0.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <!--详情页功能-->
    <script src="{% static 'js/goods_detail.js' %}"></script>

    <!--飞的插件-->
    <script src="{% static 'js/jquery.fly.min.js' %}"></script>

</head>
<body>
<div id="common">
    <!--侧边栏-->
    <div id="sideBar">

        <ul id="sideBar_top">
            <li class="car">
                {% comment %}<button id="cart">{% endcomment %}<a id="cart" href="{% url 'mmbox:shop_car' %}"><img src="{% static 'img/scar.png' %}"><img src="{% static 'img/cscar.png' %}"
                                                                                 class="hidden_pic"></a>{% comment %}</button>{% endcomment %}
            </li>
            <li><a href="#"><img src="{% static 'img/pesron.png' %}"><img src="{% static 'img/1.png' %}"
                                                                          class="hidden_pic">
            </a></li>
            <li><a href="#"><img src="{% static 'img/heart.png' %}"><img src="{% static 'img/2.png' %}"
                                                                         class="hidden_pic"></a></li>
            <li><a href="#"><img src="{% static 'img/dingdan.png' %}"><img src="{% static 'img/3.png' %}"
                                                                           class="hidden_pic"></a></li>
        </ul>
        <ul id="sideBar_bottom">
            <li><a href="#"><img src="{% static 'img/support.png' %}" class="side_service"><img
                    src="{% static 'img/ssupport.png' %}" class="hidden_pic"></a></li>
            <li><a href="#"><img src="{% static 'img/top.png' %}" class="top"><img src="{% static 'img/stop.png' %}"
                                                                                   class="hidden_pic"></a></li>
        </ul>
    </div>

    <div id="side_slider">
        <div id="slider_top">
            <div class="slider1">
                个人中心
            </div>
            <div class="slider2">
                我的收藏
            </div>
            <div class="slider3">
                我的订单
            </div>
        </div>
        <div id="slider_bottom">
            <div class="slider4">
                在线客服
            </div>
            <div class="slider5">
                返回顶部
            </div>
        </div>
    </div>


    <!--顶部-->
    <div id="top">
        <div id="box">
            <p class="p1">
                <img src="{% static 'img/hearts.png' %}" class="pic1">
                <span>100%韩国正品美美箱</span>
                <img src="{% static 'img/candler.png' %}">
                <span class="regs">[每日签到]</span>
                <span>每月累计签到满10次，即可获得5蜜豆</span>
            </p>
            <p class="p2">
                {% if username %}
                    <span>你好：<a href="#">{{ username }}</a></span>
                    <a href="{% url 'mmbox:logout' %}">退出</a>
                {% else %}

                    <span><a href="{% url 'mmbox:login' %}">登录</a></span>
                    <span><a href="{% url 'mmbox:register' %}">注册</a></span>
                    <span>|</span>
                {% endif %}
                <img src="{% static 'img/phone.png' %}">
                <span>手机APP</span>
                <img src="{% static 'img/supports.png' %}">
                <span>在线客服</span>
            </p>
        </div>
    </div>
    <!--头部-->
    <div id="head">
        <div id="main_contain">
            <div id="head_main">
                <a href="{% url 'mmbox:index' %}"><img name="美美箱" class="logo"
                                          src="{% static 'img/new-logo_memebox-china.png' %}"></a>
                <div id="search">
                    <input type="text" name="" class="search" value="">
                    <input type="button" name="" id="btn" value="">
                </div>
            </div>

            <div id="notice">
                <img src="{% static 'img/ring.png' %}" class="ring">
                <p id="mess">
                    9月6日~ 9月9日大促期间，全场使用立减优惠，不与其它优惠券共享，为了避免您使用优惠券出现优惠较少情况，大促期间您的优惠券会失效，大促之后制动恢复。另外，大促期间中国仓发货可能会延迟，敬请谅解！
                </p>
            </div>
        </div>
    </div>
    <!--导航-->
    <div id="navs">
        <div id="nav">
            <div class="goods">
                <div class="goods_container">
                    <a href="#"><img src="{% static 'img/down.png' %}">商品分类</a>
                </div>

            </div>
            <ul id="list">

                <li><a href="#" class="active">主页</a></li>
                <li class="tags"><a href="#">
                    <div class="tag">
                        <img src="{% static 'img/hot.png' %}">
                    </div>
                    尖货</a></li>
                <li class="slide_list"><a href="#">面膜</a></li>

                <!--滑过显示下拉列表-->
                <div class="child_list list1">
                    <ul>
                        <li><a href="#">Leaders/Mediheal专区</a></li>
                        <li><a href="#">Innisfree面膜专区</a></li>
                        <li><a href="#">补水面膜专区</a></li>
                        <li><a href="#">美白面膜专区</a></li>
                        <li><a href="#">祛痘修复面膜专区</a></li>
                        <li><a href="#">动物面膜专区</a></li>
                    </ul>
                </div>

                <li class="tags"><a href="#">
                    <div class="tag">
                        <img src="{% static 'img/new.png' %}">
                    </div>
                    新货</a></li>
                <li><a href="#">保税仓</a></li>
                <li class="slide_list"><a href="#">直邮</a></li>

                <div class="child_list list2">
                    <ul>
                        <li><a href="#">直邮礼盒</a></li>
                        <li><a href="#">韩国新品抢先购</a></li>
                        <li><a href="#">韩国热卖套组专场</a></li>
                        <li><a href="#">韩国免税店热卖</a></li>
                        <li><a href="#">夏季护肤</a></li>
                        <li><a href="#">夏季底妆</a></li>
                        <li><a href="#">面膜</a></li>
                        <li><a href="#">夏日大促</a></li>
                        <li><a href="#">卡通系列促销</a></li>
                        <li><a href="#">1+1Promotion</a></li>
                        <li><a href="#">Rising hot item promotion</a></li>
                        <li><a href="#">ONLY MEME</a></li>
                        <li><a href="#">这里最便宜</a></li>
                        <li><a href="#">捕获男心活动</a></li>
                        <li><a href="#">Stick promotion</a></li>
                    </ul>
                </div>

                <li><a href="#">礼盒</a></li>
                <li class="slide_list"><a href="#">PONY</a></li>

                <div class="child_list list3">
                    <ul>
                        <li><a href="#">PONY EFFECT</a></li>
                        <li><a href="#">假日限量系列</a></li>
                        <li><a href="#">PONY新品</a></li>
                        <li><a href="#">PONY x MEMEBOX</a></li>
                        <li><a href="#">超值套装</a></li>
                    </ul>
                </div>

                <li class="slide_list"><a href="#">美美妆</a></li>

                <div class="child_list list4">
                    <ul>
                        <li><a href="#">美美妆热销产品</a></li>
                        <li><a href="#">bonvivant</a></li>
                        <li><a href="#">NOONI专区</a></li>
                        <li><a href="#">I'M MEME</a></li>
                        <li><a href="#">PONY EFFECT</a></li>
                    </ul>
                </div>

                <li class="slide_list"><a href="#">I'M MEME</a></li>
                <div class="child_list list5">
                    <ul>
                        <li><a href="#">我爱眼妆</a></li>
                        <li><a href="#">我爱唇妆</a></li>
                        <li><a href="#">我爱底妆</a></li>
                        <li><a href="#">我爱腮红</a></li>
                        <li><a href="#">我爱气垫</a></li>
                        <li><a href="#">我爱眉妆</a></li>
                        <li><a href="#">我爱卸妆</a></li>
                        <li><a href="#">我爱美甲</a></li>
                        <li><a href="#">我爱工具</a></li>
                    </ul>
                </div>
                <li class="tags lasttags"><a href="#">
                    <div class="lasttag">
                        <img src="{% static 'img/new.png' %}">
                    </div>
                    K-BEAUTY STYLE</a></li>
            </ul>
        </div>
    </div>


    <!--商品内容-->
    <div id="main_content">
        <div id="left_block">
            <div id="goods_pic">
                <div id="big_block">
                    <img src="{% static 'img/mail.png' %}" class="mail">
{#                    <!--小图片-->#}
{#                    <!--<a href="#">-->#}
                    <div id="small_img">
{#                        <!--<img src="img/bliuhaizhen.jpg"/>-->#}
                        <img src="{{ picture }}"/>
                        <div id="small_area" style="width: 125px; height: 125px;">

                        </div>
                    </div>
{#                    <!--</a>-->#}
                </div>
                <!--放大图片-->
                <div id="big_area" style="">
                    <div id="big_img">
{#                        <!--<img src="img/bliuhaizhen.jpg"/>-->#}
                        <img src="{{ picture }}"/>
                    </div>
                </div>
                <div id="small_block">
                    <a href="#">
{#                        <!--<img src="img/sliuhaizhen.jpg"/>-->#}
                        <img src="{{ picture }}"/>
                    </a>
                </div>
            </div>
        </div>

        <div id="right_block">
            <div id="goods_chase">
{#                <!--<h1>JAYJUN明星款面膜礼盒</h1>-->#}
            </div>
            <div id="area">
                <span class="icon"></span>
                <div id="send">
                    <img src="{% static 'img/plane.png' %}">
                    <p>韩国本土仓库发货</p>
                </div>
            </div>
            <div id="short_description">{{ introduce }}</div>
            <!--价格信息-->
            <div id="goods_data">
                <div id="price_box">
                    <div id="price_wrap">
                        <div id="prev_price">
									<span class="price_text">
										价格
									</span>
                            <span class="prev_price">
										{{ price }}
									</span>
                        </div>

                        <div id="now_price">
									<span class="price_text">
										促销价
									</span>
                            <!--<span class="now_price">
                                ¥285.00
                            </span>-->
                            <span class="discount">
										&nbsp;3.0&nbsp;折&nbsp;
									</span>
                        </div>
                    </div>
                </div>

                <div id="return">
                    <span id="return_pic"><img src="{% static 'img/return.png' %}"></span>
                    {% if username %}
                        <div id="return_text">最高可返 <a href="#">{{ price }}</a> 蜜豆</div>
                    {% else %}

                        <div id="return_text">最高可返 <a href="{% url 'mmbox:login' %}">登陆后查看</a> 蜜豆</div>
                    {% endif %}

                </div>

                <div id="postfee">
                    <span class="fee_word">邮费</span>
                    <span class="fullsend">满249元包邮</span>
                </div>

                <div id="rate">
                    <span class="rate_text">评价</span>
                    <!--星级评价-->
                    <div id="score"></div>
                    <span class="fullsend">（已有2 人评价）</span>
                </div>

                <div id="addto_car">
                    <span id="num_text">数量:</span>
                    <div id="num_box">
                        <div  class="change" id="subgoods" goodsid="{{ mygoosid}}">-
{#                            <a id="subgoods" goodsid="{{ mygoosid}}">-</a>#}
                        </div>
                        <input type="text" name="" id="mynumber" value="{{ mygoosid  }}">
                        <div class="change" id="addgoods" goodsid="{{ mygoosid  }}">+
{#                            <a id="addgoods" goodsid="{{ mygoosid  }}">+</a>#}
                        </div>
                    </div>
                    <div id="stock"><span>库存：</span><span class="have_stock">有货</span></div>
                </div>

                <div id="func_block">
                    <div id="store">
								<span id="">
									加入收藏
								</span>
                    </div>
                    <div id="to_car">
								<span id="">
									<button class="addToCart">加入购物车</button>
								</span>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <!--店铺品牌-->
    <div id="newdetail">
        <div class="bus_block">
            <div class="main_buss">
                <div class="bus_img">
                    <img src="{% static 'img/fly.png' %}">
                </div>
                <div class="bus_text">
                    韩国直采
                </div>
            </div>
            <div class="main_buss">
                <div class="bus_img">
                    <img src="{% static 'img/groundball.png' %}">
                </div>
                <div class="bus_text">
                    海外同价
                </div>
            </div>
            <div class="main_buss">
                <div class="bus_img">
                    <img src="{% static 'img/local.png' %}">
                </div>
                <div class="bus_text">
                    仁川发货
                </div>
            </div>
            <div class="main_buss">
                <div class="bus_img">
                    <img src="{% static 'img/china.png' %}">
                </div>
                <div class="bus_text last_text">
                    中文售后
                </div>
            </div>
        </div>


    </div>


    <!--tab切换-->
    <div id="tabs_detail">
        <ul>
            <li class="tab_toggle">图文详情</li>
            <li class="tab_toggle">商品参数</li>
            <li class="tab_toggle">配送说明</li>
            <li class="tab_toggle">评论</li>
        </ul>
    </div>


    <!--商品图片-->
    <div id="product_pic">

        <div class="panel">
            <div class="derc_mail">
                <img src="{% static 'img/koreasend.jpg' %}">
            </div>
            <div class="quality">
                <img src="{% static 'img/quality.jpg' %}">
            </div>
            <div class="goods_detail">
                <img src="{% static 'img/instruc.jpg' %}">
            </div>
        </div>
        <div class="about_mei">
            <img src="{% static 'img/moredetails.png' %}">
        </div>


    </div>


    <!--页脚-->
    <div id="footer">

        <div id="footer_intro">
            <div class="intro">
                <img src="{% static 'img/genuine.png' %}">
                <p>100%正品</p>
            </div>
            <div class="intro">
                <img src="{% static 'img/low.png' %}">
                <p>优质低价</p>
            </div>
            <div class="intro">
                <img src="{% static 'img/deliver.png' %}">
                <p>极速发货</p>
            </div>
            <div class="intro">
                <img src="{% static 'img/refund.png' %}">
                <p>退换无忧</p>
            </div>
        </div>

        <div id="footer_about">
            <div id="footer_about_contact">
                <div id="chat">
                    <img src="{% static 'img/szj.jpg' %}">
                    <p>关于我们</p>
                    <div id="chat_tool">
                        <div id="code">
                            <img src="{% static 'img/download.png' %}" class="download">
                            <img src="{% static 'img/wechatdownload.png' %}" class="wechatdownload">
                            <img src="{% static 'img/sinadownload.png' %}" class="sinadownload">
                        </div>
                        <img src="{% static 'img/meme.png' %}" class="meme">
                        <img src="{% static 'img/wechat.png' %}" class="">
                        <img src="{% static 'img/sina.png' %}" class="">
                    </div>
                </div>

                <div id="list">
                    <ul class="list">
                        <li class="list_title">关于美美箱</li>
                        <li><a href="#">美美全球</a></li>
                        <li><a href="#">品牌优势</a></li>
                        <li><a href="#">消费保障</a></li>
                    </ul>
                    <ul class="list">
                        <li class="list_title">帮助中心</li>
                        <li><a href="#">常见问题</a></li>
                        <li><a href="#">账户相关</a></li>
                        <li><a href="#">包邮政策</a></li>
                        <li><a href="#">支付相关</a></li>
                        <li><a href="#">物流相关</a></li>
                        <li><a href="#">退换政策</a></li>
                    </ul>
                    <ul class="list">
                        <li class="list_title">服务协议</li>
                        <li><a href="#">服务协议</a></li>
                        <li><a href="#">个人网申协议</a></li>
                    </ul>
                    <ul class="list">
                        <li class="list_title">联系我们</li>
                        <li><a href="#">商务合作</a></li>
                        <li><a href="#">分销合作</a></li>
                        <li><a href="#">加入我们</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="footer_contact">
            <div class="service">
                联系我们
            </div>
            <div class="way">
                <span>客服时间:周一~周日(9:00 - 21:00)</span>
                <span>客服热线:400-720-9967</span>
                <span>客服邮箱:kf@memeboxglobal.com</span>
            </div>
        </div>

        <div id="footer_legal">
            <div class="corporation">
                © 2015 Memebox Corporation.All Rights Reserved.
            </div>
            <div class="address">
                <span><img src="{% static 'img/icon.gif' %}">&nbsp;蜜米柏克思（上海）商贸有限公司 上海市杨浦区政立路415号中航天盛广场A座6楼 沪ICP备14043341号</span>
            </div>
        </div>
    </div>


</div>


</body>
</html>
